# ========================
# Build
# ========================
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# ========================
# Binários
# ========================
*.out
*.app
*.exe

# ========================
# Objetos
# ========================
*.o
*.obj
*.so
*.a

# ========================
# IDEs / Editores
# ========================
.vscode/
.idea/

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db